<div style="background-image: url(assets/landingpage/FiltreBackround.jpg);">
    <nav class="navbar navbar-expand ">
        <img src=" \assets\logo\linkini.png " width="10% " alt=" ">
        <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarText " aria-controls="navbarText " aria-expanded="false " aria-label="Toggle navigation ">
      <span class="navbar-toggler-icon "></span>
    </button>
        <div class="collapse navbar-collapse " id="navbarText" style="margin-left: 5%;">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item active ">
                    <a class="nav-link " style="color: rgb(175, 175, 175); font-size: large;" routerLink="/home">Home </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " style="color: rgb(175, 175, 175); font-size: large;" routerLink="/home">Features</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " style="color: rgb(175, 175, 175); font-size: large;" routerLink="#">Pricing</a>
                </li>
            </ul>

        </div>
        <span class="navbar-text " style="margin-right: 2%; ">
        <button class="btn btn-outline-success " style="margin-right: 1rem;font-weight: bold; font-size: 20px; "> Login</button>
        <button class="btn btn-outline-warning"style="margin-right: 1rem;font-weight: bold; font-size: 18px; "> SignUp</button>
    </span>
    </nav>
</div>